PRIMECASH_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=https://futysxjtptcsahgyrpci.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_5ZHATfufgFDbhiJnFBp4ig_xaxf-1Oq
PUBLIC_SITE_URL=https://seu-dominio.com.br
